# 5. Sets in Python

 * __Set is one of the 4 built-in data types in Python used to store collections of data including List, Tuple and Dictionary.__
 * __Sets are unordered, but you can remove items and add new items.__
 * __Set element are unique, Duplicate elements are not allowed.__
 * __A set itself may be modified, but the elements contained in the set must be of an immutable type.__
 * __Set are used to store multiple items in a single variable.__
 * __You can denote a set with a pair of curly brackets {}.__

In [7]:
a={1:1}
print(a)

{1: 1}

In [8]:
type(a)

dict

In [9]:
b={}
type(b)

dict

In [10]:
a1=set()
a1

set()

In [11]:
type(a1)

set

In [15]:
list1=['Hello World',3.14,1.618,'Hello World',3.14,1.618,True,False,2023]
list1

['Hello World', 3.14, 1.618, 'Hello World', 3.14, 1.618, True, False, 2023]

In [16]:
set1=set(list1)
set1

{1.618, 2023, 3.14, False, 'Hello World', True}

# Adding an element

In [21]:
# Add

set2=set(['Hello World', 3.14, 1.618, 'Hello World', 3.14, 1.618, True, False, 2023])
set2.add('Balaji')
set2.add('Balaji')
set2

{1.618, 2023, 3.14, 'Balaji', False, 'Hello World', True}

In [22]:
# update
set3={4,5,6,7,8,9,"Balaji"}
set2.update(set3)
set2

{1.618, 2023, 3.14, 4, 5, 6, 7, 8, 9, 'Balaji', False, 'Hello World', True}

In [25]:
# remove

set2.remove(3.14)
set2

KeyError: 3.14

In [29]:
set2.discard(False)
set2

{1.618, 2023, 4, 5, 6, 7, 8, 9, 'Balaji', 'Hello World', True}

# Logic Operations in Sets

In [32]:
a={"Hello World",3.14,1.618,20,30,True,False}
b={"Hello World","Hello Python",3.14,True,False,20}

# union

print(a,b)
#print(b)

# union
print(a.union(b))

{False, 1.618, True, 3.14, 'Hello World', 20, 30} {False, True, 3.14, 'Hello World', 20, 'Hello Python'}
{False, 1.618, True, 3.14, 'Hello World', 20, 'Hello Python', 30}

In [34]:
# intersection

print(a,b)

print(a.intersection(b))

{False, 1.618, True, 3.14, 'Hello World', 20, 30} {False, True, 3.14, 'Hello World', 20, 'Hello Python'}
{False, True, 3.14, 'Hello World', 20}

In [37]:
# Difference

print(a,b)
print(a.difference(b))  # A-B
print(b.difference(a))  # B-A

{False, 1.618, True, 3.14, 'Hello World', 20, 30} {False, True, 3.14, 'Hello World', 20, 'Hello Python'}
{1.618, 30}
{'Hello Python'}

In [39]:
# other method

print(a-b)
print(b-a)

{1.618, 30}
{'Hello Python'}

In [41]:
# Symmetric difference

print(a,b)

print(a.symmetric_difference(b))

{False, 1.618, True, 3.14, 'Hello World', 20, 30} {False, True, 3.14, 'Hello World', 20, 'Hello Python'}
{1.618, 'Hello Python', 30}

# aggrigate function

 * (sum, max,min)

In [6]:
a=[10,20,30,30,30,10,20,20,50,40,60,10]
b={10,20,30,30,30,10,20,20,50,40,60,10}



print("The minimum number of a is:",min(a))
print("The minimum number of b is:",min(b))
print("The maximum number of a is:",max(a))
print("The maximum number of b is:",max(b))
print("The sum of a is:",sum(a))
print("The sum of b is:",sum(b))

The minimum number of a is: 10
The minimum number of b is: 10
The maximum number of a is: 60
The maximum number of b is: 60
The sum of a is: 330
The sum of b is: 210

In [12]:
set6={"Python",1,2,3,[10,20]}
set6

TypeError: unhashable type: 'list'

In [15]:
set7={10,20,30,100}
set7[0]

TypeError: 'set' object is not subscriptable

In [16]:
# pop()

x={0,1,2,3,4,5,6,7,8,9}
x

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [20]:
x.pop()
x

{4, 5, 6, 7, 8, 9}