# 8. Loops in Python

 * __A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set or a string).__
 * __This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-oriented programming languages.__
 * __With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.__
 * __The for loop does not reuqire an indexing variable to set beforehand.__
 * __With the while loop we can execute a set of statements as long as a condition is true.__
 * __Note: Remember to increment, i, or else the loop will continue forever.__
 * __The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.__

# range() function

 * __It is helpful to think of the range obejct as an ordered list.__
 * __To loop through a set of code a specified number of times, we can use the range() function.__
 * __The range() function returns a sequence of numbers, starting from 0 by defualt, and increments by 1(by default), and ends at a specified number.__

In [2]:
print(range(10))
print(range(100))

range(0, 10)
range(0, 100)

In [3]:
print(range(10,100))

range(10, 100)

In [4]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [6]:
for sainath in range(11):
    print(sainath)

0
1
2
3
4
5
6
7
8
9
10

In [9]:
lst=[2005,2006,2007,2008,2009,2010]

for i in lst:
    print(i,end=',')

2005,2006,2007,2008,2009,2010,

In [14]:
for i in range(1,101):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

# break() function

In [16]:
for i in range(1,101):
    print(i,end=' ')
    if i==55:
        break

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55

In [24]:
lst=[2005,2006,2007,2008,2009,2010,]

for i in range(len(lst)):
    print(i,lst[i])

0 2005
1 2006
2 2007
3 2008
4 2009
5 2010

In [29]:
lst=['jan','feb','march','april','may']

for i in range(len(lst)):
    print(i,lst[i])
    if i==2:
        break

0 jan
1 feb
2 march

# Continue() function

In [32]:
for i in range(50):
    if i==20:
        continue
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49