# 8. Loops in Python

 * __A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set or a string).__
 * __This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-oriented programming languages.__
 * __With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.__
 * __The for loop does not reuqire an indexing variable to set beforehand.__
 * __With the while loop we can execute a set of statements as long as a condition is true.__
 * __Note: Remember to increment, i, or else the loop will continue forever.__
 * __The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.__

# range() function

 * __It is helpful to think of the range obejct as an ordered list.__
 * __To loop through a set of code a specified number of times, we can use the range() function.__
 * __The range() function returns a sequence of numbers, starting from 0 by defualt, and increments by 1(by default), and ends at a specified number.__

In [2]:
print(range(10))
print(range(100))

range(0, 10)
range(0, 100)

In [3]:
print(range(10,100))

range(10, 100)

In [4]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [6]:
for sainath in range(11):
    print(sainath)

0
1
2
3
4
5
6
7
8
9
10

In [9]:
lst=[2005,2006,2007,2008,2009,2010]

for i in lst:
    print(i,end=',')

2005,2006,2007,2008,2009,2010,

In [14]:
for i in range(1,101):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

# break() function

In [16]:
for i in range(1,101):
    print(i,end=' ')
    if i==55:
        break

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55

In [24]:
lst=[2005,2006,2007,2008,2009,2010,]

for i in range(len(lst)):
    print(i,lst[i])

0 2005
1 2006
2 2007
3 2008
4 2009
5 2010

In [29]:
lst=['jan','feb','march','april','may']

for i in range(len(lst)):
    print(i,lst[i])
    if i==2:
        break

0 jan
1 feb
2 march

# Continue() function

In [32]:
for i in range(50):
    if i==20:
        continue
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [13]:
# display the number using for loop 0 to 10
sum1=0

for i in range(0,11):
    if i%2==0:
        print(i)
    sum1+=i

0
2
4
6
8
10

In [16]:
for i in range(0,10):
    if i%2==0:
        print(i)
        sum1+=i

0
2
4
6
8

In [30]:
sum2=0
for x in range(0,10):
    if x%2==0:
        sum2+=x
        
        
print(sum2)

20

In [31]:
x1=[10,20,30,4050,60,78]

s2=0

for i in x1:
    s2+=i
print(s2)

4248

In [32]:
# write a table from user input using for loop  # 12x1=12, # 12x2=24

table=int(input("Enter any number:\n"))

for i in range(1,11):
    print(table,"X",i,'=',table*i)

Enter any number:
 12

12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120

In [34]:
table=int(input("Enter any number:\n"))
table2=int(input("Enter second value:\n"))
for i in range(1,11):
    print('%dX%d=%d'%(table,i,table*i),"%dX%d=%d"%(table2,i,table2*i))

Enter any number:
 14
Enter second value:
 15

14X1=14 15X1=15
14X2=28 15X2=30
14X3=42 15X3=45
14X4=56 15X4=60
14X5=70 15X5=75
14X6=84 15X6=90
14X7=98 15X7=105
14X8=112 15X8=120
14X9=126 15X9=135
14X10=140 15X10=150

In [9]:
x1=[10,31,20,47,30,57,4050,91,97,60,78]
x2=[]
x3=[]
for i in x1:
    if i%2==0:
        x2.append(i)

        print("Even number is:",i)
    else:
        x3.append(i)
        print('Odd number is:',i)

print(x2)
print(x3)

Even number is: 10
Odd number is: 31
Even number is: 20
Odd number is: 47
Even number is: 30
Odd number is: 57
Even number is: 4050
Odd number is: 91
Odd number is: 97
Even number is: 60
Even number is: 78
[10, 20, 30, 4050, 60, 78]
[31, 47, 57, 91, 97]

In [10]:
print(x2)

[10, 20, 30, 4050, 60, 78]

In [14]:
# Wap to takes input from user as a string and number and find how many letter and digit entered by user.
# abc1234:   total character is: 3,  total digit is: 4


user_input=input('Enter your data here:')

digit=0
character=0

for i in user_input:
    if i.isdigit():
        digit=digit+1
    elif i.isalpha():
        character=character+1

print('your total digit in string is:',digit,"your total characters in your string is:",character)

Enter your data here: 4561230apple

your total digit in string is: 7 your total characters in your string is: 5

In [31]:
month_name=["JANUARY","FEBRUARY"]


for i in month_name:
    if i =="FEBRUARY":
        print(i,"has 28/29 Days")
    elif i in ("JANUARY","MARCH","MAY","JULY","AUGUST","OCTOBER","DECEMBER"):
        print(i,"has 31 days.")
    elif i in ("APRIL","JUNE","SEPTEMBER","NOVEMBER"):
        print(i,"has 30 days.")

JANUARY has 31 days.
FEBRUARY has 28/29 Days